<template>
    <el-form ref="registerForm" :model="registerUser" :rules="registerRules" label-width="100px" class="registerForm sign-up-form">
        <el-form-item label="用户名：" prop="name">
            <el-input v-model="registerUser.name" placeholder="Enter name..."></el-input>
        </el-form-item>
        <el-form-item label="邮箱：" prop="email">
            <el-input v-model="registerUser.email" placeholder="Enter email..."></el-input>
        </el-form-item>
        <el-form-item label="密码：" prop="password">
            <el-input v-model="registerUser.password" type="password" placeholder="Enter Password..."></el-input>
        </el-form-item>
        <el-form-item label="确认密码：" prop="password2">
            <el-input v-model="registerUser.password2" type="password" placeholder="Enter Sure Password..."></el-input>
        </el-form-item>
        <el-form-item label="活动区域">
            <el-select placeholder="请选择活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="选择身份：" prop="role">
            <el-select v-model="registerUser.role" placeholder="Choose Your Identity">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button @click="handleRegister('registerForm')" type="primary" class="submit-btn">注册</el-button>
            <!-- <el-button @click="resetForm('ruleForm')">重置</el-button> -->
        </el-form-item>
    </el-form>
</template>
<script lang="ts">
import { getCurrentInstance } from "vue";
import { registerUser, registerRules } from "@/utils/registerValidator";
import { useRouter } from "vue-router"
export default {
    setup() {
        // @ts-ignore
        const { ctx } = getCurrentInstance();
        const router = useRouter()
        const options = [
            { value: "admin", label: "管理员" },
            { value: "user", label: "用户" },
            { value: "visitor", label: "游客" },
        ];
        const handleRegister = (formName: string) => {
            ctx.$refs[formName].validate((valid: boolean) => {
                console.log(valid);
                if (valid) {
                    // ctx.$axios
                    // .post(
                    //     "https://imissu.herokuapp.com/api/v1/auth/register",
                    //     registerUser
                    // )
                    // .then((res:any)=>{
                    //     console.log(res);

                    //     ctx.$message({
                    //         message: "注册成功",
                    //         type: "success",
                    //     })
                    //     router.push("/")
                    // })
                    alert("submit!");
                } else {
                    console.log("error submit!!");
                    return false;
                }
            });
        };
        return { registerUser, handleRegister, registerRules, options };
    },
};
</script>
<style scopr></style>
